<div id="<%= dom_id item %>">
  <p>
    <strong>Id:</strong>
    <%= item.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= item.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Expires:</strong>
    <%= item.expires %>
  </p>

  <p>
    <strong>Expirydate:</strong>
    <%= item.expiryDate %>
  </p>

</div>
