<div id="<%= dom_id employee %>">
  <p>
    <strong>Empnumber:</strong>
    <%= employee.empNumber %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= employee.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= employee.lastname %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

</div>
